body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}
.center{
  position: center;
}
input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.img-background {
  background-image: url('https://th.bing.com/th/id/OIP.JUt5A0pfRRcgeA9V07PE0QHaEo?pid=ImgDet&rs=1');
  border: 3px solid rgb(71, 89, 71);
  border-radius: 10px;
}

.background-gray {

  background-color: rgb(229, 253, 229);
  background-size: cover;
  background-attachment: fixed;

}

.f11 {
  font-size: 11px;
}


.fg {
  font-family: 'Courier New', Courier, monospace;
  font-size: 31px;
  text-shadow: 1px 1px 2px #000000;
}

.w85 {
  width: 85%;
}

.content{
  position:relative;
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 40PX;
}

button {
height: 2.8em;
width: 11em;
background: #ffb700;
-webkit-animation: jello-horizontal 0.9s both;
animation: jello-horizontal 0.9s both;
border:3px solid #c89900;
border-radius: 25px;
outline:none;
color:rgb(255, 255, 255);
font-size: 17px;
font-weight: bold;
}
button:hover {
  background:rgb(255, 120, 71);
  border: 3px solid orangered;
  color: #fff;
  animation: squeeze3124 0.9s both;

}

@keyframes squeeze3124 {
  0%{
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
  30%{
    -webkit-transform: scale3d(1.25,0.75,1);
    transform: scale3d(1.25,0.75,1);
  }

  40%{
    -webkit-transform: scale3d(0.75,1.25,1);
    transform: scale3d(0.75,1.25,1);
  }
  50%{
    -webkit-transform: scale3d(1.15,0.85,1);
    transform: scale3d(1.15,0.85,1);
  }

  65%{
    -webkit-transform: scale3d(0.95,1.05,1);
    transform: scale3d(0.95,1.05,1);
  }
  75%{
    -webkit-transform: scale3d(1.05,0.95,1);
    transform: scale3d(1.05,0.95,1);
  }
  
  100%{
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
  
}







